*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

h1{
    display: inline-block;
}

#logo{
    background-color: white;
}

main{
    /* height: 200px;
    width: 800px; */
    
    margin: 40px;
    border-radius: 10px;
    padding-left: 30px;
    height: 800px;
    
    background-color: white;
}
#contenier{
    height: 50px;
    

    padding: 20px 140px 10px 30px;
    
    
    background-color: white;
    border-radius: 10px
    
}
#bottone-blu{
    background-color: azure;
    border-radius: 3px;
}
#bottone-bianco{

    border-radius: 3px;
}
 /* inizio corpo centrale */
 #arrows-smoller{
    font-size: 0.5em;
 }
 .container-2{
     padding-left: 30px;
     
     width: 100%;
     height: auto;
     
 
 }

 .Editorial{
    
    background-color: rgb(43, 80, 226);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;
 }
.riga{
    margin-bottom: 50px;
    margin-bottom: 50px;
}
 h2{
    margin-top: 20px;
    margin-bottom: 20px;
 }

#Goals{
    background-color: rgb(150, 43, 226);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;

}
#Recreuiting{
    background-color: rgb(20, 173, 20);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;
}
#Mobile{
    background-color: rgba(255, 166, 0, 0.939);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;
}
#Website{
    background-color: rgb(201, 113, 128);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;
}
#Sales{
    background-color: rgb(136, 199, 85);
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px;
    color: white;
}